<div class="row">
  <div class="col-lg-2">
    <%= render 'layouts/sidenav' %>
  </div>

  <div class="col-lg-10 text-center padding-50">
    <h1 class="text-center admin-header"><%= @service.name %> Service</h1>
    <h5 class="text-center"><%= @service.description %></h5>

    <button type="button" class="btn btn-primary margin-20" data-toggle="modal" data-target="#newServiceItemModal">
      Add a Service Item
    </button>
    <h3 class="margin-20">Service Items</h3>
    <table class="table table-hover w-75 mx-auto">
      <thead>
        <tr>
          <th>Service Item</th>
          <th>Price</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @service.service_items.each do |service_item| %>
          <tr>
            <td><%= service_item.name %></td>
            <td><%= service_item.price.to_s %></td>
            <td><%= link_to 'Edit', edit_admin_service_service_item_path(@service, service_item), class: 'badge badge-dark' %></td>
            <td><%= link_to 'Delete', admin_service_service_item_path(@service, service_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render 'layouts/new_service_item_modal' %>

  </div>
</div>