<!-- start section navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo">
    <a class="navbar-brand" href="#header"><%= image_tag "LAB-logo-blk.png" %></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#header">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Consent', new_lash_consent_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
<!-- End section navbar -->


<!-- start section header -->
<div id="header" class="home">

  <div class="container">
    <div class="header-content">
      <h1><span class="typed"></span></h1>
      <p>makeup artist. pmu artist.</p>
    </div>
  </div>
</div>
<!-- End section header -->


<!-- start section about us -->
<div id="about" class="paddsection">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-4 ">
        <div class="div-img-bg">
          <div class="about-img">
            <%= image_tag "chell1.png", class: "img-responsive" %>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="about-descr">
          <% if @about.present? %>
            <p class="p-heading"><%= @about.about_heading %></p>
            <p class="separator"><%= @about.about_description %></p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end section about us -->

<!-- start section portfolio -->
<div id="gallery" class="text-center paddsection">

  <div class="container">
    <div class="section-title text-center">
      <h2>Gallery</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="owl-carousel owl-theme">
          <% @images.each do |image| %>
            <% image.image.each do |i| %>
              <%= image_tag(i.url) %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- End section portfolio -->

<!-- start section services -->
<div id="services" class="text-center paddsection">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>Services</h2>
          <% @services.each do |service| %>

            <p>
              <button class="btn btn-lg btn-danger services-btn mx-auto" type="button" data-toggle="collapse" data-target=#<%= service.name %> aria-expanded="false" aria-controls="collapseExample" style="display: block;">
                <%= service.name %> <i class="ion-android-arrow-dropdown"></i>
              </button>
            </p>
            <%= tag.div class: 'collapse', id: service.name do %>
              <div class="card card-body">
                <p class="service-description">
                  <%= service.description %>
                </p>
                <% service.service_items.each do |item| %>
                  <p class="service-price">
                    <strong><%= item.name %></strong>: <span class="badge badge-dark">$<%= item.price %></span>
                  </p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      
      </div>
    </div>
  </div>
</div>
<!-- end section services -->

<!-- start section contact -->
<div id="contact" class="paddsection">
  <div class="container">
    <div class="contact-block1">
      <div class="row">

        <div class="col-lg-6">
          <div class="contact-contact">

            <h2 class="mb-30">GET IN TOUCH</h2>

          </div>
        </div>

        <div class="col-lg-6">
          <%= form_for @message, url: message_path do |f| %>
            <% if flash[:notice] %>
              <div class="alert alert-info" role="alert">
                <%= flash[:notice] %>
              </div>
            <% end %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :name, hidden: true %>
                <div>
                  <%= f.text_field :name, class: 'form-control', placeholder: 'Your Name'  %>
                </div>
              </div>

              <div class="form-group col-md-6">
                <%= f.label :email, hidden: true %>
                <div>
                  <%= f.email_field :email, class: 'form-control', placeholder: 'Your Email' %>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <%= f.label :subject, hidden: true %>
                <div>
                  <%= f.text_field :subject, class: 'form-control', placeholder: 'Subject' %>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <%= f.label :message, hidden: true %>
                <div>
                  <%= f.text_area :message, class: 'form-control', style: 'height: 250px;', placeholder: 'Message' %>
                </div>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Send Message", class: 'btn btn-primary' %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- start sectoion contact -->


<!-- start section footer -->
<div id="footer" class="text-center">
  <div class="container">
    <div class="socials-media text-center">

      <ul class="list-unstyled">
        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
        <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
        <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
      </ul>

    </div>

    <p>&copy; Copyright L.A.B. Lounge 2018. All rights reserved.</p>

    <div class="credits" hidden="hidden">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
      -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>

  </div>
</div>
<!-- End section footer -->
